name: Build and Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  RELEASE_NAME: "ShelfBlacklistEditor"
  DLL_NAME: "ShelfBlacklistEditor.dll"
  OUTPUT_DIR: "SPT/user/mods"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Extract version from tag
      - name: Read version from tag
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      # Extract AUTHOR from any .cs file
      - name: Extract Author
        id: extract_author
        run: |
          AUTHOR=$(grep -rPo 'Author\s*\{\s*get;\s*init;\s*}\s*=\s*"\K[^"]+' . --include \*.cs | head -n 1)

          if [ -z "$AUTHOR" ]; then
            echo "Could not determine author"
            exit 1
          fi

          echo "AUTHOR=$AUTHOR" >> $GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Build project
        run: dotnet build -c Release

      - name: Create output folder
        run: mkdir -p $OUTPUT_DIR/$RELEASE_NAME

      - name: Copy DLL
        run: |
          find . -name "$DLL_NAME" -exec cp {} $OUTPUT_DIR/$RELEASE_NAME \;

      - name: Zip Mod
        run: |
          cd $OUTPUT_DIR
          zip -r "../${RELEASE_NAME}-${VERSION}.zip" "$RELEASE_NAME"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-zip
          path: "${OUTPUT_DIR}/../${RELEASE_NAME}-${VERSION}.zip"

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: release-zip

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.zip"
          tag_name: "${{ env.VERSION }}"
          name: "${{ env.RELEASE_NAME }} ${{ env.VERSION }}"
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
