name: Build and Release SPT Mod

on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
          
      - name: Extract mod metadata
        run: |
          MODGUID=$(grep -rPho -h 'public\s+override\s+string\s+ModGuid.*"\K[^"]+' . --include \*.cs | head -n 1)
          MOD_NAME=$(grep -rPho -h 'public\s+override\s+string\s+Name.*"\K[^"]+' . --include \*.cs | head -n 1)
          AUTHOR=$(grep -rPho -h 'public\s+override\s+string\s+Author.*"\K[^"]+' . --include \*.cs | head -n 1)
          VERSION=$(grep -rPo '<Version>(.*?)</Version>' **/*.csproj | sed -E 's/.*>(.*)<.*/\1/' | head -n 1)

          if [ -z "$MOD_NAME" ] || [ -z "$AUTHOR" ] || [ -z "$VERSION" ]; then
            echo "Missing metadata" && exit 1
          fi

          echo "MODGUID=$MODGUID" >> $GITHUB_ENV
          echo "MOD_NAME=$MOD_NAME" >> $GITHUB_ENV
          echo "AUTHOR=$AUTHOR" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV

          echo "ModGuid: $MODGUID"
          echo "Name: $MOD_NAME"
          echo "Author: $AUTHOR"
          echo "Version: $VERSION"
          
      - name: Restore Dependencies
        run: dotnet restore
        
      - name: Build Project
        run: dotnet build -c Release
        
      - name: Zip mod folder
        run: |
          cd package
          zip -r "${AUTHOR}-${MOD_NAME}_v${VERSION}.zip" SPT

      - name: Upload zipped mod
        uses: actions/upload-artifact@v4
        with:
          name: mod_package
          path: package/${{ env.AUTHOR }}-${{ env.MOD_NAME }}_v${{ env.VERSION }}.zip      
          
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Download mod artifact
        uses: actions/download-artifact@v4
        
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: release_artifact/*.zip
          tag_name: "v${{ env.VERSION }}"
          name: "${{ env.AUTHOR }}-${{ env.MOD_NAME }} v${{ env.VERSION}}"
          body: |
            ModGuid: ${{ env.MODGUID }}
            Author: ${{ env.AUTHOR }}
            Name: ${{ env.MOD_NAME }}
            Version: ${{ env.VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}